# Python
__pycache__/
.pytest_cache/
*.pyc
venv/
*.log

# Environment
.env

# App data
tasks.json
tasks.json.backup*
*.stackdump
~/.todo_cli_history
~/.todo_cli_settings.json

# Editors
.vscode/
.idea/

